body{
    margin: 0;
    padding: 0;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.309);
    margin-bottom: -110px;
    
   
    
}

 
.navHref a {
    gap: 1vw;
    color: rgb(93, 91, 91);
    text-decoration: none;
    position: relative;
    padding-right: 1vw;
    font-family: "Baloo 2";
    font-weight: bold;
}
.navHref{
    padding-right: 30px;
}
.navTitre{
    font-family: "Baloo 2";
    position: relative;
    left: 2%;
}
h3{
    color: #64579f;
    font-size: 30px;
    font-family: "Baloo 2";
    margin: 0;
}

header{
    height: auto;
    line-height: 1;
    background: linear-gradient(180deg,rgba(255, 95, 47, 0) 50%, rgb(255, 255, 255) 90%), url(/Nouilles/images/header.jpg) no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 33%;
    padding-top: 130px;
    
}

.headerH2{
    font-family: "Baloo 2";
    color: rgb(101, 99, 99);
    display: flex;
    font-size: 40px;
    padding-top: 60px;
    margin-left: 35%;
    
}

.headerH2 h2{
    margin: 0px;
}

.headerH1{
    font-family: "Baloo 2";
    color: rgb(69, 68, 68);
    display: flex;
    font-size: 30px;
    margin-left: 35%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerH1 h3{
    margin: 0px;
}

.headerH3{
    font-family: "Noto Sans JP";
    font-weight: 100;
    letter-spacing: 5px;
    margin-left: 35%;
}

.headerButton button{
    background-color: #64579f;
    color: white;
    font-family:"Noto+Sans+JP" ;
    font-weight: 100;
    border: none;
    border-radius: 20px;
    width: 8vw;
    height: 5vh;
    margin-left: 35%;
}

.section1{
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    height: auto;
    padding-top: 80px;
}

.section1IMG{
    height: 300px;
    
}


h4{
    font-family:"Noto Sans JP" ;
    font-weight: 100;
    margin: 0;
}

.section1P{
    font-family:"Noto Sans JP" ;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.7;
    margin-right: 120px;
}

.section1button button{
    border: 1px solid #64579f;
    border-radius: 25px;
    color: #64579f;
    background-color: white;
    padding: 10px;
}

.section2{
    padding-top: 20vh;
    margin-left: 15%;
    margin-right: 10%;
}

.section2H4{
    display: flex;
    justify-content: center;
}

.section2H3{
    display: flex;
    justify-content: center;
}

.section2img{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 5vh;
}

.imgsection2{
    width: 50px;
    height: 50px;
}

.section2case{
    width:300px;
    border: 1px solid rgba(128, 128, 128, 0.383);
    padding: 50px;
}

.section2P{
    color: #64579f;
    font-size: 15px;
    font-family: "Baloo 2";
    font-weight: bold;
}