body{
    margin: 0;
    padding: 0;
    /* background-image: url(/Nouilles/images/header.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.309);
   
    
}

 
.navHref a {
    gap: 1vw;
    color: rgb(93, 91, 91);
    text-decoration: none;
    position: relative;
    padding-right: 1vw;
    font-family: "Baloo 2";
    font-weight: bold;
}
.navHref{
    padding-right: 30px;
}
.navTitre{
    font-family: "Baloo 2";
    position: relative;
    left: 2%;
}
h4{
    color: #64579f;
    font-size: 30px;
}

header{
    height: auto;
    line-height: 1.2;
    
}

.headerH2{
    font-family: "Baloo 2";
    color: rgb(101, 99, 99);
    display: flex;
    font-size: 40px;
    padding-top: 30px;
    margin-left: 35%;
    
}

.headerH2 h2{
    margin: 0px;
}

.headerH1{
    font-family: "Baloo 2";
    color: rgb(69, 68, 68);
    display: flex;
    font-size: 40px;
    margin-left: 35%;
}

.headerH1 h3{
    margin: 0px;
}

.headerH3{
    font-family: "Noto+Sans+JP";
    font-weight: 100;
    letter-spacing: 5px;
    margin-left: 35%;
}

.headerButton button{
    background-color: #64579f;
    color: white;
    font-family:"Noto+Sans+JP" ;
    font-weight: 100;
    border: none;
    border-radius: 20px;
    width: 8vw;
    height: 5vh;
    margin-left: 35%;
}